<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <parameter name="number" value="2"/>
    <test verbose="2" preserve-order="true" name="C:/Users/Dmitriy/IdeaProjects/lv202009mvn">
        <groups>
            <run>
                <include name="method1"/>
            </run>
        </groups>
        <classes>
            <class name="com.softserve.homework11.Appl10Test1">
                <methods> <include name="verifyBracketsPositive2"/> </methods>
            </class>
            <class name="com.softserve.homework11.Appl10Test2">
            </class>
        </classes>
    </test>
</suite>